
    nav ul.open {
        right: 0;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fa-xmark {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    nav ul .fa-bars {
        display: none;
    }
}

#msg {
    color: #61b752;
    margin-top: -40px;
    display: block;
}

@media only screen and (max-width: 600px) {
    /* Existing styles */

    nav ul {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -100%;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        transition: right 0.3s ease;
        flex-direction: column; /* Ensure vertical stacking */
    }

    nav ul.open {
        right: 0;
    }

    nav ul li {
        /* Adjusted styles for list items */
        margin: 25px 0; /* Space between list items */
        text-align: center; /* Center-align text */
    }

    nav ul .fa-xmark {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    nav ul .fa-bars {
        display: none;
    }
}
